@font-face {
  font-family: 'HornetDisplay';
  src: url('/fonts/HornetDisplay-Regular.woff2') format('woff2'),
       url('/fonts/HornetDisplay-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HornetDisplay';
  src: url('/fonts/HornetDisplay-Bold.woff2') format('woff2'),
       url('/fonts/HornetDisplay-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'VCR_OSD_MONO';
  src: url('/fonts/VCR_OSD_MONO_1.001.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ViperDisplay';
  src: url('/fonts/ViperDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ViperDisplay';
  src: url('/fonts/ViperDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Droide';
  src: url('/fonts/Droide-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: 'HornetDisplay', sans-serif;
  --font-secondary:  monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color:gray;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: url('/Crosshair.cur'), crosshair;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: url('/Crosshair.cur'), crosshair;
}

a {
  color: inherit;
  text-decoration: none;
}
